# Objective 

- Connect Mysql in python with mysql.connector
- Parameterize queries using functions

In [35]:
import mysql.connector
import sqlalchemy
import os 
import pandas as pd # pandas only support SQLAlchemy

In [37]:
# safe practice to hide password 

mysql_testdb = {
    'host': 'localhost', 
    'port': 3306, 
    'user':  'simon',
    'password': '',
    'database' : 'test' 

}

# and put the above code in a different file and gitignore

In [38]:
con = mysql.connector.connect(**mysql_testdb)


con

# the default password is empty

In [39]:
df = pd.read_sql_query(
    "SELECT * FROM pokemon;", con
)

df.head()

/home/simon/.local/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45,65,65
1,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60,80,80
2,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80,100,100
3,4,charmander,1,0.6,8.5,62,fire,,39,52,43,65,60,50
4,5,charmeleon,1,1.1,19.0,142,fire,,58,64,58,80,80,65

In [67]:
# get all pokemon having type of 'X' e.g. grass type

def get_pokemon_by_type(db_conn, type):
    cursor = db_conn.cursor()
    
    sql_string = 'SELECT species, type_1, type_2 FROM pokemon WHERE type_1 = %s OR type_2 = %s'
    
    cursor.execute(sql_string, [type, type]) # use square bracket
    
    return (cursor.fetchall())

In [68]:
# number of pokemon that have grass type
all_grass = get_pokemon_by_type(con, 'grass')

len(all_grass)

97

In [51]:
all_grass[-5:]

[('steenee', 'grass', ''),
 ('tsareena', 'grass', ''),
 ('dhelmise', 'ghost', 'grass'),
 ('tapu-bulu', 'grass', 'fairy'),
 ('kartana', 'grass', 'steel')]

In [64]:
# A function that execute a SQL query that show the pokemon have certain type with hp higher than min_tp

def get_pokemon_by_type_min_hp(conn, type, hp_higher_than):

    cursor = conn.cursor()
    sql_string = """SELECT species, type_1, type_2, hp   
                    FROM pokemon 
                    WHERE (type_1 = %s  
                    OR type_2 = %s)   
                    AND hp >= %s; """

    cursor.execute(sql_string, [type, type, hp_higher_than])
    return (cursor.fetchall())

In [65]:
tough_grass_pokemons = get_pokemon_by_type_min_hp(con, 'grass', 80)
len(tough_grass_pokemons)

19

In [66]:
tough_grass_pokemons

[('venusaur', 'grass', 'poison', 80),
 ('victreebel', 'grass', 'poison', 80),
 ('exeggutor', 'grass', 'psychic', 95),
 ('meganium', 'grass', '', 80),
 ('celebi', 'psychic', 'grass', 100),
 ('ludicolo', 'water', 'grass', 80),
 ('shiftry', 'grass', 'dark', 90),
 ('cradily', 'rock', 'grass', 86),
 ('tropius', 'grass', 'flying', 99),
 ('torterra', 'grass', 'ground', 95),
 ('abomasnow', 'grass', 'ice', 90),
 ('tangrowth', 'grass', '', 100),
 ('shaymin', 'grass', '', 100),
 ('sawsbuck', 'normal', 'grass', 80),
 ('amoonguss', 'grass', 'poison', 114),
 ('virizion', 'grass', 'fighting', 91),
 ('chesnaught', 'grass', 'fighting', 88),
 ('gogoat', 'grass', '', 123),
 ('trevenant', 'ghost', 'grass', 85)]